$def with (c)
$var title = c.barbaraConfig.braceTitle
$var curr = 'Accueil'
$var now = c.htmlNow()
<h1>$c.barbaraConfig.braceTitle</h1>
<h2>Central=akuino$c.barbaraConfig.akuinoHost</h2>
              <ul>
                <li><a href="/products/print" tabindex="-1">Produits &amp; Services</a></li>
                <li><a href="/braces/print" tabindex="-1">Bracelets</a>, avec <a href="/braces/printcode">Codes barres</a></li>
                <li><a href="/scanners/print" tabindex="-1">Scanners</a></li>
                <li><a href="/users/print" tabindex="-1">Utilisateurs</a></li>
                <li><a href="/config/print" tabindex="-1">Configuration</a></li>
              </ul>
